<div class="loading-skeleton">
  <div class="skeleton-banner"></div>
  <div class="skeleton-row"></div>
  <div class="skeleton-row"></div>
  <div class="skeleton-row"></div>
  <div class="skeleton-row short"></div>
</div>
